/* .cell:hover {
    background-color: green;
} */

.virtualCell {
    background-color: transparent;
    opacity: 0;
    border-color: rgba(0, 0, 0, 0);
    vertical-align: top;
}

.virtualCell:hover {
    opacity: 1;
}

.virtualCell>div {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}

.exportImport>div {
    align-items: left;
}

.virtualCell>div.vertical{
    flex-direction: column;
}