/* .header {
    min-width: 100px;
} */

.headerCell {
    background-color: blue;
    min-width: 120px;
    text-align: left;
}

.vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: right;
    min-width: 25px;
    min-height: 50px;
}