/* .header {
    min-width: 100px;
} */

.headerCell {
    background-color: lightseagreen;
    min-width: 120px;
    text-align: center;
}

th.align-left div{
    text-align: left;
}

.narrow {
    min-width: 25px;
    max-width: 35px;
}

th.narrow {
    min-width: 25px;
    max-width: 35px;
}

th.narrow-medium {
    min-width: 40px;
    text-align: center;
}

.vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: right;
    min-width: 25px;
    min-height: 50px;
}