table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

.range-left {
  border-left: 3px solid black;
}

.range-right {
  border-right: 3px solid black;
}

.range-top {
  border-top: 3px solid black;
}

.range-bottom {
  border-bottom: 3px solid black;
}