/* .cell:hover {
    background-color: red;
} */

.contentCell {
    background-color: transparent;
    user-select: none
}

.ok {
    background-color: lightgreen;
}

.warning {
    background-color: yellow;
}

.error {
    background-color: orange;
}

.and {
    background-color: coral;
}

.or {
    background-color: cornflowerblue;
}